In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
matplotlib.style.use('ggplot')

In [2]:
from fuzzywuzzy import process
import fuzzywuzzy
import Levenshtein

In [3]:
nl = pd.read_csv('nonleague_1972.csv', na_values = '')

In [4]:
nl.rename(columns={'Unnamed: 1': 'team'}, inplace=True)

In [5]:
nl.dropna(axis=0, how='any', inplace=True)

In [6]:
nl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443 entries, 0 to 447
Data columns (total 10 columns):
Unnamed: 0    443 non-null object
team          443 non-null object
P             443 non-null object
W             443 non-null object
D             443 non-null object
L             443 non-null object
F             443 non-null object
A             443 non-null object
Pts           443 non-null object
league        443 non-null object
dtypes: object(10)
memory usage: 38.1+ KB

In [7]:
fa = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\02_merge\nleague_teams_v1.csv')

In [9]:
fa = fa[fa.year == 1972]

In [10]:
fa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 640 to 671
Data columns (total 4 columns):
team     32 non-null object
year     32 non-null int64
round    32 non-null object
stage    32 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ KB

In [11]:
fa.team = fa.team.str.upper()

In [20]:
fa.shape

(32, 4)

In [12]:
nl.team = nl.team.str.upper()

In [16]:
merge = pd.merge(fa, nl, how='left', on='team')

In [24]:
merge

,team,year,round,stage,Unnamed: 0,P,W,D,L,F,A,Pts,league
0,ALTRINCHAM,1972,FIRST ROUND PROPER,8,10.0,46,18,11,17,72,58,47,Northern Premier League
1,ALVECHURCH,1972,FIRST ROUND PROPER,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANGOR CITY,1972,FIRST ROUND PROPER,8,9.0,46,20,8,18,93,74,48,Northern Premier League
3,BARNET,1972,FIRST ROUND PROPER,8,4.0,42,21,7,14,80,57,49,Southern League - Premier Division
4,BASINGSTOKE TOWN,1972,FIRST ROUND PROPER,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BLYTH SPARTANS,1972,FIRST ROUND PROPER,8,2.,38,24,7,7,85,42,55.0,Northern League
6,BOSTON UNITED,1972,FIRST ROUND PROPER,8,2.0,46,28,13,5,87,37,69,Northern Premier League
7,BRIDGWATER TOWN,1972,FIRST ROUND PROPER,8,10.0,26,7,9,10,28,42,23,Western League
8,CRAWLEY TOWN,1972,FIRST ROUND PROPER,8,4.0,30,15,5,10,67,55,35,Southern League - First Division South
9,DAGENHAM,1972,FIRST ROUND PROPER,8,2.0,30,19,5,6,61,27,43,Athenian League - Premier Division
10,DOVER,1972,FIRST ROUND PROPER,8,3.0,42,20,11,11,67,45,51,Southern League - Premier Division
11,ELLESMERE PORT TOWN,1972,FIRST ROUND PROPER,8,16.0,46,17,9,20,67,71,43,Northern Premier League
12,ENFIELD,1972,FIRST ROUND PROPER,8,2.0,40,26,8,6,90,41,60,Isthmian League - Senior Section
13,FRICKLEY COLLIERY,1972,FIRST ROUND PROPER,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,GUILDFORD CITY,1972,FIRST ROUND PROPER,8,12.0,42,20,5,17,71,65,45,Southern League - Premier Division
15,HEREFORD UNITED,1972,FIRST ROUND PROPER,8,2.0,42,24,12,6,68,30,60,Southern League - Premier Division
16,HILLINGDON BOROUGH,1972,FIRST ROUND PROPER,8,8.0,42,20,6,16,64,58,46,Southern League - Premier Division
17,KETTERING TOWN,1972,FIRST ROUND PROPER,8,1.0,34,23,6,5,70,27,52,Southern League - First Division North
18,KETTERING TOWN,1972,FIRST ROUND PROPER,8,14.0,30,6,4,20,30,90,16,United Counties League - Division 1
19,KING'S LYNN,1972,FIRST ROUND PROPER,8,7.0,34,14,11,9,62,45,39,Southern League - First Division North
20,MAIDENHEAD UNITED,1972,FIRST ROUND PROPER,8,6.0,30,13,8,9,38,31,34,Athenian League - Premier Division
21,MARGATE,1972,FIRST ROUND PROPER,8,9.0,42,19,8,15,74,68,46,Southern League - Premier Division
22,NUNEATON TOWN,1972,FIRST ROUND PROPER,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,REDDITCH UNITED,1972,FIRST ROUND PROPER,8,6.0,36,17,6,13,75,59,40,West Midlands (Regional) League - Premier Divi...
24,ROMFORD,1972,FIRST ROUND PROPER,8,11.0,42,16,13,13,54,49,45,Southern League - Premier Division
25,ROSSENDALE UNITED,1972,FIRST ROUND PROPER,8,2.,42,26,5,11,90.0,65.0,57.0,Cheshire County League
26,SCARBOROUGH,1972,FIRST ROUND PROPER,8,4.0,46,21,15,10,75,46,57,Northern Premier League
27,SKELMERSDALE UNITED,1972,FIRST ROUND PROPER,8,11.0,46,19,9,18,61,58,47,Northern Premier League
28,SOUTH SHIELDS,1972,FIRST ROUND PROPER,8,8.0,46,18,14,14,75,57,50,Northern Premier League
29,TELFORD UNITED,1972,FIRST ROUND PROPER,8,13.0,42,18,7,17,83,68,43,Southern League - Premier Division
30,WEYMOUTH,1972,FIRST ROUND PROPER,8,6.0,42,21,5,16,69,43,47,Southern League - Premier Division
31,WIGAN ATHLETIC,1972,FIRST ROUND PROPER,8,12.0,36,11,9,16,55,70,31,Lancashire League - Division 1
32,WIGAN ATHLETIC,1972,FIRST ROUND PROPER,8,3.0,46,27,10,9,70,43,64,Northern Premier League
33,WITNEY UNITED,1972,FIRST ROUND PROPER,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
merge.league.value_counts()

Southern League - Premier Division                    9
Northern Premier League                               8
Athenian League - Premier Division                    2
Southern League - First Division North                2
Western League                                        1
Cheshire County League                                1
West Midlands (Regional) League - Premier Division    1
United Counties League - Division 1                   1
Isthmian League - Senior Section                      1
Lancashire League - Division 1                        1
Northern League                                       1
Southern League - First Division South                1
Name: league, dtype: int64

In [22]:
print merge.league.unique()

['Northern Premier League' nan 'Southern League - Premier Division'
 'Northern League' 'Western League'
 'Southern League - First Division South'
 'Athenian League - Premier Division' 'Isthmian League - Senior Section'
 'Southern League - First Division North'
 'United Counties League - Division 1'
 'West Midlands (Regional) League - Premier Division'
 'Cheshire County League' 'Lancashire League - Division 1']

In [23]:
print nl.league.unique()

['Athenian League - Premier Division' 'Athenian League - First Division'
 'Athenian League - Second Division' 'Cheshire County League'
 'Eastern Counties League' 'Hellenic League - Premier Division'
 'Isthmian League - Senior Section' 'Lancashire League - Division 1'
 'Lancashire Combination' 'Leicestershire Senior League - Division 1'
 'Manchester League - Premier Division'
 'Metropolitan London League - Senior Division 1' 'Midland Counties League'
 'Northern League' 'Northern Premier League'
 'South-East Counties League - Division 1'
 'Southern League - Premier Division'
 'Southern League - First Division North'
 'Southern League - First Division South'
 'South Midlands League - Premier Division'
 'Spartan League - Senior Section' 'United Counties League - Division 1'
 'Western League' 'West Midlands (Regional) League - Premier Division'
 'West Midlands (Regional) League - Division 1']

uh oh, it's picking up some of the 'reserves' teams that play in the Lancashire League Div 1

In [59]:
fl = pd.read_csv('tables_merged_v1.csv')

In [60]:
fl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6332 entries, 0 to 6331
Data columns (total 11 columns):
pos     6332 non-null int64
team    6332 non-null object
w       6331 non-null float64
d       6331 non-null float64
l       6331 non-null float64
f       6331 non-null float64
a       6331 non-null float64
pts     6331 non-null float64
pld     6331 non-null float64
year    6332 non-null int64
tier    6332 non-null int64
dtypes: float64(7), int64(3), object(1)
memory usage: 593.6+ KB

In [61]:
fl.head()

   pos                     team   w   d   l   f   a  pts  pld  year  tier
0    1                Liverpool  25   7  10  84  52   57   42  1947    11
1    2        Manchester United  22  12   8  95  54   56   42  1947    11
2    3  Wolverhampton Wanderers  25   6  11  98  56   56   42  1947    11
3    4               Stoke City  24   7  11  90  53   55   42  1947    11
4    5                Blackpool  22   6  14  71  70   50   42  1947    11

In [62]:
fl72 = fl[fl.year == 1972][['team', 'tier']]

In [64]:
fl72.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 2283 to 2374
Data columns (total 2 columns):
team    92 non-null object
tier    92 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [66]:
fl72.team = fl72.team.str.upper()

In [67]:
fl72.head()

                 team  tier
2283     DERBY COUNTY    11
2284     LEEDS UNITED    11
2285        LIVERPOOL    11
2286  MANCHESTER CITY    11
2287          ARSENAL    11

In [65]:
nl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443 entries, 0 to 447
Data columns (total 10 columns):
Unnamed: 0    443 non-null object
team          443 non-null object
P             443 non-null object
W             443 non-null object
D             443 non-null object
L             443 non-null object
F             443 non-null object
A             443 non-null object
Pts           443 non-null object
league        443 non-null object
dtypes: object(10)
memory usage: 38.1+ KB

In [68]:
def match(row):
    nearest = process.extractOne(row, fl72['team'])
    return nearest[0],nearest[1]

%time nl['match'], nl['score'] =  zip(*nl['team'].map(match))

Wall time: 6.32 s

In [70]:
nl[nl.score == 100]

,Unnamed: 0,team,P,W,D,L,F,A,Pts,league,match,score
59,10.,OLDHAM ATHLETIC,42,16,9,17,66.0,63.0,41.0,Cheshire County League,OLDHAM ATHLETIC,100
81,9.0,NORWICH CITY,38,16,7,15,66,68,39,Eastern Counties League,NORWICH CITY,100
133,1.0,LIVERPOOL,36,29,3,4,107,32,61,Lancashire League - Division 1,LIVERPOOL,100
134,2.0,STOCKPORT COUNTY,36,26,7,3,95,30,59,Lancashire League - Division 1,STOCKPORT COUNTY,100
135,3.0,TRANMERE ROVERS,36,20,7,9,88,44,47,Lancashire League - Division 1,TRANMERE ROVERS,100
136,4.0,CREWE ALEXANDRA,36,17,10,9,69,49,44,Lancashire League - Division 1,CREWE ALEXANDRA,100
137,5.0,CHESTER,36,16,10,10,54,37,42,Lancashire League - Division 1,CHESTER,100
138,6.0,MANCHESTER UNITED,36,16,9,11,56,44,41,Lancashire League - Division 1,MANCHESTER UNITED,100
139,7.0,BOLTON WANDERERS,36,17,6,13,50,48,40,Lancashire League - Division 1,BOLTON WANDERERS,100
140,8.0,EVERTON,36,14,10,12,84,58,38,Lancashire League - Division 1,EVERTON,100
142,10.0,BURNLEY,36,11,12,13,47,54,34,Lancashire League - Division 1,BURNLEY,100
143,11.0,MANCHESTER CITY,36,10,12,14,53,59,32,Lancashire League - Division 1,MANCHESTER CITY,100
145,13.0,ROCHDALE,36,9,12,15,39,54,30,Lancashire League - Division 1,ROCHDALE,100
146,14.0,SOUTHPORT,36,10,7,19,51,69,27,Lancashire League - Division 1,SOUTHPORT,100
147,15.0,BARROW,36,12,3,21,48,94,27,Lancashire League - Division 1,BARROW,100
150,18.0,PRESTON NORTH END,36,8,7,21,57,86,23,Lancashire League - Division 1,PRESTON NORTH END,100
151,19.0,OLDHAM ATHLETIC,36,7,8,21,31,91,22,Lancashire League - Division 1,OLDHAM ATHLETIC,100
278,1.,ARSENAL,30,20,7,3,64.0,14.0,47.0,South-East Counties League - Division 1,ARSENAL,100
279,2.,TOTTENHAM HOTSPUR,30,21,3,6,68.0,33.0,45.0,South-East Counties League - Division 1,TOTTENHAM HOTSPUR,100
280,3.,MILLWALL,30,17,8,5,67.0,27.0,42.0,South-East Counties League - Division 1,MILLWALL,100
281,4.,CHELSEA,30,15,8,7,54.0,30.0,38.0,South-East Counties League - Division 1,CHELSEA,100
282,5.,CRYSTAL PALACE,30,17,4,9,73.0,44.0,38.0,South-East Counties League - Division 1,CRYSTAL PALACE,100
283,6.,WEST HAM UNITED,30,15,6,9,67.0,49.0,36.0,South-East Counties League - Division 1,WEST HAM UNITED,100
284,7.,FULHAM,30,11,11,8,37.0,38.0,33.0,South-East Counties League - Division 1,FULHAM,100
285,8.,LUTON TOWN,30,13,5,12,48.0,48.0,31.0,South-East Counties League - Division 1,LUTON TOWN,100
286,9.,IPSWICH TOWN,30,11,8,11,47.0,28.0,30.0,South-East Counties League - Division 1,IPSWICH TOWN,100
288,11.,CHARLTON ATHLETIC,30,9,8,13,40.0,51.0,26.0,South-East Counties League - Division 1,CHARLTON ATHLETIC,100
289,12.,GILLINGHAM,30,9,7,14,32.0,48.0,25.0,South-East Counties League - Division 1,GILLINGHAM,100
290,13.,ORIENT,30,5,9,16,38.0,65.0,19.0,South-East Counties League - Division 1,ORIENT,100
291,14.,WATFORD,30,5,8,17,33.0,75.0,18.0,South-East Counties League - Division 1,WATFORD,100
292,15.,READING,30,5,3,22,24.0,90.0,13.0,South-East Counties League - Division 1,READING,100
293,16.,BRENTFORD,30,3,4,23,23.0,74.0,10.0,South-East Counties League - Division 1,BRENTFORD,100
411,12.0,TORQUAY UNITED,26,5,9,12,29,55,19,Western League,TORQUAY UNITED,100

In [112]:
nl.rename(columns={'Unnamed: 0':'rank'}, inplace=True)

In [113]:
nl[pd.to_numeric(nl['rank'].replace(regex=True, to_replace='\.', value=''), errors='coerce').isnull()]

,rank,team,P,W,D,L,F,A,Pts,league
48,*He,MEL HEMPSTEAD TOWN AMALGAMATED,wit,h H,eme,l H,emps,tead,Uni,Athenian League - Second Division
110,E,RROR NUMBER OF WINS (213) NOT E,qua,l t,o n,umb,er o,f lo,sses,Hellenic League - Premier Division
232,E,RROR NUMBER OF GOALS FOR (985),not,eq,ual,to,num,ber,of g,Midland Counties League
367,E,RROR STOTFOLD NUMBER OF POINTS,(34,) n,ot,equ,al t,o 16,x 2,South Midlands League - Premier Division

In [115]:
nl.F = pd.to_numeric(nl.F, errors='coerce')

In [117]:
nl.dropna(axis=0, inplace = True)

In [118]:
nl[pd.to_numeric(nl['rank'].replace(regex=True, to_replace='\.', value=''), errors='coerce').isnull()]

Empty DataFrame
Columns: [rank, team, P, W, D, L, F, A, Pts, league]
Index: []

In [119]:
nl['rank'] = pd.to_numeric(nl['rank'], errors='coerce')

In [120]:
nl

,rank,team,P,W,D,L,F,A,Pts,league
0,1,SLOUGH TOWN,30,22,4,4,60,17,48,Athenian League - Premier Division
1,2,DAGENHAM,30,19,5,6,61,27,43,Athenian League - Premier Division
2,3,LEATHERHEAD,30,16,8,6,56,29,40,Athenian League - Premier Division
3,4,TILBURY,30,15,9,6,62,46,39,Athenian League - Premier Division
4,5,HARWICH & PARKESTON,30,14,9,7,47,40,37,Athenian League - Premier Division
5,6,MAIDENHEAD UNITED,30,13,8,9,38,31,34,Athenian League - Premier Division
6,7,REDHILL,30,11,10,9,51,35,32,Athenian League - Premier Division
7,8,CHESHUNT,30,10,11,9,43,37,31,Athenian League - Premier Division
8,9,AVELEY,30,12,6,12,46,37,30,Athenian League - Premier Division
9,10,HORNCHURCH,30,10,8,12,39,38,28,Athenian League - Premier Division
10,11,BOREHAM WOOD,30,11,6,13,40,45,28,Athenian League - Premier Division
11,12,LEWES,30,10,8,12,48,52,28,Athenian League - Premier Division
12,13,ERITH & BELVEDERE,30,9,8,13,39,54,26,Athenian League - Premier Division
13,14,SOUTHALL,30,5,9,16,25,49,19,Athenian League - Premier Division
14,15,WEMBLEY,30,3,5,22,26,58,11,Athenian League - Premier Division
15,16,GRAYS ATHLETIC,30,1,4,25,25,111,6,Athenian League - Premier Division
16,1,HARLOW TOWN,30,22,5,3,96,40,49,Athenian League - First Division
17,2,CROYDON AMATEURS,30,20,6,4,77,25,46,Athenian League - First Division
18,3,HORSHAM,30,17,6,7,59,34,40,Athenian League - First Division
19,4,CARSHALTON ATHLETIC,30,16,7,7,57,37,39,Athenian League - First Division
20,5,MARLOW,30,12,11,7,53,41,35,Athenian League - First Division
21,6,HERTFORD TOWN,30,16,3,11,58,49,35,Athenian League - First Division
22,7,FINCHLEY,30,12,9,9,43,43,33,Athenian League - First Division
23,8,CHESHAM UNITED,30,12,8,10,45,33,32,Athenian League - First Division
24,9,EASTBOURNE UNITED,30,10,8,12,48,51,28,Athenian League - First Division
25,10,HERNE BAY,30,10,8,12,43,51,28,Athenian League - First Division
26,11,DORKING,30,10,6,14,48,62,26,Athenian League - First Division
27,12,EDMONTON,30,9,7,14,47,61,25,Athenian League - First Division
28,13,WOKINGHAM TOWN,30,7,6,17,30,51,20,Athenian League - First Division
29,14,LETCHWORTH TOWN,30,5,6,19,34,61,16,Athenian League - First Division
...,...,...,...,...,...,...,...,...,...,...
418,5,BILSTON,36,16,9,11,63,37,41,West Midlands (Regional) League - Premier Divi...
419,6,REDDITCH UNITED,36,17,6,13,75,59,40,West Midlands (Regional) League - Premier Divi...
420,7,LYE TOWN,36,14,10,12,52,46,38,West Midlands (Regional) League - Premier Divi...
421,8,HEDNESFORD,36,16,6,14,65,59,38,West Midlands (Regional) League - Premier Divi...
422,9,DUDLEY TOWN,36,13,12,11,37,36,38,West Midlands (Regional) League - Premier Divi...
423,10,BEDWORTH UNITED,36,14,8,14,72,64,36,West Midlands (Regional) League - Premier Divi...
424,11,EASTWOOD (HANLEY),36,13,9,14,51,58,35,West Midlands (Regional) League - Premier Divi...
425,12,LOWER GORNAL ATHLETIC,36,13,6,17,47,60,32,West Midlands (Regional) League - Premier Divi...
426,13,G.K.N. SANKEY (WELLINGTON),36,10,10,16,38,63,30,West Midlands (Regional) League - Premier Divi...
427,14,WARLEY,36,13,3,20,56,75,29,West Midlands (Regional) League - Premier Divi...
428,15,BRIERLEY HILL ALLIANCE,36,11,6,19,47,58,28,West Midlands (Regional) League - Premier Divi...
429,16,WOLVES (A),36,7,11,18,35,68,25,West Midlands (Regional) League - Premier Divi...
430,17,DARLASTON,36,6,11,19,34,68,23,West Midlands (Regional) League - Premier Divi...
431,18,HALESOWEN TOWN,36,3,12,21,41,77,18,West Midlands (Regional) League - Premier Divi...
432,19,HINCKLEY ATHLETIC,36,4,8,24,26,83,16,West Midlands (Regional) League - Premier Divi...
433,1,WARLEY COUNTY BOROUGH,28.0,17.0,7.0,4.0,82,28.0,41.0,West Midlands (Regional) League - Division 1
434,2,BRERETON SOCIAL,28.0,15.0,9.0,4.0,44,25.0,39.0,West Midlands (Regional) League - Division 1
435,3,WORCESTER CITY RES.,28.0,15.0,7.0,6.0,40,24.0,37.0,West Midlands (Regional) League - Division 1
436,4,RACING FOOTBALL CLUB (WARWICK),28.0,15.0,6.0,7.0,49,20.0,36.0,West Midlands (Regional) League - Division 1
437,5,ARMITAGE,28.0,12.0,11.0,5.0,53,34.0,35.0,West Midlands (Regional) League - Division 1
438,6,TIVIDALE,28.0,14.0,6.0,8.0,63,27.0,34.0,West Midlands (Regional) League - Division 1
439,7,BILSTON RES.,28.0,11.0,9.0,8.0,42,36.0,31.0,West Midlands (Regional) League - Division 1
440,8,BEDDESLEY COLLIERY,28.0,10.0,7.0,11.0,31,34.0,27.0,West Midlands (Regional) League - Division 1
441,9,OXLEY,28.0,11.0,4.0,13.0,52,53.0,26.0,West Midlands (Regional) League - Division 1
442,10,COVENTRY AMATEUR,28.0,7.0,12.0,9.0,23,28.0,26.0,West Midlands (Regional) League - Division 1
443,11,SPRINGVALE,28.0,8.0,6.0,14.0,41,51.0,22.0,West Midlands (Regional) League - Division 1
444,12,ROWLEY UNITED,28.0,9.0,3.0,16.0,40,56.0,21.0,West Midlands (Regional) League - Division 1
445,13,TIPTON TOWN,28.0,6.0,6.0,16.0,23,47.0,18.0,West Midlands (Regional) League - Division 1
446,14,HALESOWEN TOWN RES.,28.0,5.0,6.0,17.0,30,87.0,16.0,West Midlands (Regional) League - Division 1
447,15,BURTON ALBION RES.,28.0,4.0,3.0,21.0,23,86.0,11.0,West Midlands (Regional) League - Division 1

In [121]:
nl.league.unique()

array(['Athenian League - Premier Division',
       'Athenian League - First Division',
       'Athenian League - Second Division', 'Cheshire County League',
       'Eastern Counties League', 'Hellenic League - Premier Division',
       'Isthmian League - Senior Section',
       'Lancashire League - Division 1', 'Lancashire Combination',
       'Leicestershire Senior League - Division 1',
       'Manchester League - Premier Division',
       'Metropolitan London League - Senior Division 1',
       'Midland Counties League', 'Northern League',
       'Northern Premier League',
       'South-East Counties League - Division 1',
       'Southern League - Premier Division',
       'Southern League - First Division North',
       'Southern League - First Division South',
       'South Midlands League - Premier Division',
       'Spartan League - Senior Section',
       'United Counties League - Division 1', 'Western League',
       'West Midlands (Regional) League - Premier Division',
       'West Midlands (Regional) League - Division 1'], dtype=object)

In [122]:
nl.head()

,rank,team,P,W,D,L,F,A,Pts,league
0,1,SLOUGH TOWN,30,22,4,4,60,17,48,Athenian League - Premier Division
1,2,DAGENHAM,30,19,5,6,61,27,43,Athenian League - Premier Division
2,3,LEATHERHEAD,30,16,8,6,56,29,40,Athenian League - Premier Division
3,4,TILBURY,30,15,9,6,62,46,39,Athenian League - Premier Division
4,5,HARWICH & PARKESTON,30,14,9,7,47,40,37,Athenian League - Premier Division

In [123]:
fl72.head()

                 team  tier
2283     DERBY COUNTY    11
2284     LEEDS UNITED    11
2285        LIVERPOOL    11
2286  MANCHESTER CITY    11
2287          ARSENAL    11

In [125]:
nl72 = nl[['team', 'league']]

In [126]:
nl72.head()

                  team                              league
0          SLOUGH TOWN  Athenian League - Premier Division
1             DAGENHAM  Athenian League - Premier Division
2          LEATHERHEAD  Athenian League - Premier Division
3              TILBURY  Athenian League - Premier Division
4  HARWICH & PARKESTON  Athenian League - Premier Division

In [127]:
tables = pd.concat([nl72, fl72], axis=0, join='outer')

In [128]:
tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 2374
Data columns (total 3 columns):
league    439 non-null object
team      531 non-null object
tier      92 non-null float64
dtypes: float64(1), object(2)
memory usage: 16.6+ KB

In [136]:
tables[tables.team == 'OLDHAM ATHLETIC']

                              league             team  tier
59            Cheshire County League  OLDHAM ATHLETIC   NaN
151   Lancashire League - Division 1  OLDHAM ATHLETIC   NaN
2337                             NaN  OLDHAM ATHLETIC    31

In [138]:
tables['dup'] = tables.tier.rank()

In [139]:
tables[tables.team == 'OLDHAM ATHLETIC']

                              league             team  tier   dup
59            Cheshire County League  OLDHAM ATHLETIC   NaN   NaN
151   Lancashire League - Division 1  OLDHAM ATHLETIC   NaN   NaN
2337                             NaN  OLDHAM ATHLETIC    31  56.5

In [140]:
tables.groupby('team')

In [142]:
tables.dup = tables.groupby('team')['tier'].rank()

In [147]:
tables.tier.fillna(100, inplace = True)

In [148]:
tables.dup = tables.groupby('team')['tier'].rank()

In [149]:
tables

                                  league                 team  tier  dup
0     Athenian League - Premier Division          SLOUGH TOWN   100    1
1     Athenian League - Premier Division             DAGENHAM   100    1
2     Athenian League - Premier Division          LEATHERHEAD   100    1
3     Athenian League - Premier Division              TILBURY   100    1
4     Athenian League - Premier Division  HARWICH & PARKESTON   100    1
5     Athenian League - Premier Division    MAIDENHEAD UNITED   100    1
6     Athenian League - Premier Division              REDHILL   100    1
7     Athenian League - Premier Division             CHESHUNT   100    1
8     Athenian League - Premier Division               AVELEY   100    1
9     Athenian League - Premier Division           HORNCHURCH   100    1
10    Athenian League - Premier Division         BOREHAM WOOD   100    1
11    Athenian League - Premier Division                LEWES   100    1
12    Athenian League - Premier Division    ERITH & BELVEDERE   100    1
13    Athenian League - Premier Division             SOUTHALL   100    1
14    Athenian League - Premier Division              WEMBLEY   100    1
15    Athenian League - Premier Division       GRAYS ATHLETIC   100    1
16      Athenian League - First Division          HARLOW TOWN   100    1
17      Athenian League - First Division     CROYDON AMATEURS   100    1
18      Athenian League - First Division              HORSHAM   100    1
19      Athenian League - First Division  CARSHALTON ATHLETIC   100    1
20      Athenian League - First Division               MARLOW   100    1
21      Athenian League - First Division        HERTFORD TOWN   100    1
22      Athenian League - First Division             FINCHLEY   100    1
23      Athenian League - First Division       CHESHAM UNITED   100    1
24      Athenian League - First Division    EASTBOURNE UNITED   100    1
25      Athenian League - First Division            HERNE BAY   100    1
26      Athenian League - First Division              DORKING   100    1
27      Athenian League - First Division             EDMONTON   100    1
28      Athenian League - First Division       WOKINGHAM TOWN   100    1
29      Athenian League - First Division      LETCHWORTH TOWN   100    1
...                                  ...                  ...   ...  ...
2345                                 NaN            YORK CITY    31    1
2346                                 NaN      TRANMERE ROVERS    31    1
2347                                 NaN       MANSFIELD TOWN    31    1
2348                                 NaN             BARNSLEY    31    1
2349                                 NaN       TORQUAY UNITED    31    1
2350                                 NaN        BRADFORD CITY    31    1
2351                                 NaN         GRIMSBY TOWN    41    1
2352                                 NaN      SOUTHEND UNITED    41    1
2353                                 NaN            BRENTFORD    41    1
2354                                 NaN    SCUNTHORPE UNITED    41    1
2355                                 NaN         LINCOLN CITY    41    1
2356                                 NaN           WORKINGTON    41    1
2357                                 NaN            SOUTHPORT    41    1
2358                                 NaN  PETERBOROUGH UNITED    41    1
2359                                 NaN                 BURY    41    1
2360                                 NaN     CAMBRIDGE UNITED    41    1
2361                                 NaN    COLCHESTER UNITED    41    1
2362                                 NaN     DONCASTER ROVERS    41    1
2363                                 NaN           GILLINGHAM    41    1
2364                                 NaN       NEWPORT COUNTY    41    1
2365                                 NaN          EXETER CITY    41    1
2366                                 NaN              READING    41    1
2367                                 NaN            ALDERSHOT    41    1
2368                                 NaN           HARTLEPOOL    41    1
2369                                 NaN           DARLINGTON    41    1
2370                                 NaN              CHESTER    41    1
2371                                 NaN     NORTHAMPTON TOWN    41    1
2372                                 NaN               BARROW    41    1
2373                                 NaN     STOCKPORT COUNTY    41    1
2374                                 NaN      CREWE ALEXANDRA    41    1

[531 rows x 4 columns]

In [150]:
tables[tables.team == 'OLDHAM ATHLETIC']

                              league             team  tier  dup
59            Cheshire County League  OLDHAM ATHLETIC   100  2.5
151   Lancashire League - Division 1  OLDHAM ATHLETIC   100  2.5
2337                             NaN  OLDHAM ATHLETIC    31  1.0

In [151]:
fa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 37445 to 106107
Data columns (total 19 columns):
Unnamed: 0    80 non-null int64
away_score    80 non-null int64
away_team     80 non-null object
date          80 non-null object
home_score    80 non-null int64
home_team     80 non-null object
match_id      80 non-null float64
qualifier     80 non-null bool
replay        80 non-null bool
round         80 non-null object
round_id      80 non-null float64
stage         80 non-null float64
year          80 non-null int64
year_id       80 non-null int64
team          80 non-null object
home          80 non-null bool
stage_r       80 non-null float64
match         80 non-null object
score         80 non-null int32
dtypes: bool(3), float64(4), int32(1), int64(5), object(6)
memory usage: 10.5+ KB

In [170]:
fa72 = fa[['team','home_team','away_team']].copy()

In [171]:
fa72.head()

                    team          home_team         away_team
37445          ALDERSHOT          Aldershot        Alvechurch
37449  ROSSENDALE UNITED  Rossendale United        Altrincham
37455    AFC BOURNEMOUTH    AFC Bournemouth           Margate
37456         BARROW AFC         Barrow AFC        Darlington
37457   BASINGSTOKE TOWN   Basingstoke Town  Northampton Town

In [172]:
fa72['dup'] = 1

In [173]:
fa72.head()

                    team          home_team         away_team  dup
37445          ALDERSHOT          Aldershot        Alvechurch    1
37449  ROSSENDALE UNITED  Rossendale United        Altrincham    1
37455    AFC BOURNEMOUTH    AFC Bournemouth           Margate    1
37456         BARROW AFC         Barrow AFC        Darlington    1
37457   BASINGSTOKE TOWN   Basingstoke Town  Northampton Town    1

In [161]:
matched = pd.merge(fa72, tables, )

In [174]:
def match(row):
    nearest = process.extractOne(row, tables['team'])
    return nearest[0],nearest[1]

%time fa72['match'], fa72['score'] =  zip(*fa72['team'].map(match))

Wall time: 6.75 s

In [175]:
fa72.head()

,team,home_team,away_team,dup,match,score
37445,ALDERSHOT,Aldershot,Alvechurch,1,ALDERSHOT,100
37449,ROSSENDALE UNITED,Rossendale United,Altrincham,1,ROSSENDALE UNITED,100
37455,AFC BOURNEMOUTH,AFC Bournemouth,Margate,1,BOURNEMOUTH,95
37456,BARROW AFC,Barrow AFC,Darlington,1,BARROW,90
37457,BASINGSTOKE TOWN,Basingstoke Town,Northampton Town,1,BASINGSTOKE,95

In [176]:
fa72.sort_values('score')

,team,home_team,away_team,dup,match,score
106060,ALVECHURCH,Aldershot,Alvechurch,1,HORNCHURCH,60
37472,FRICKLEY COLLIERY,Frickley Colliery,Rotherham United,1,BEDDESLEY COLLIERY,69
37490,WITNEY UNITED,Witney United,Romford (2),1,WELWYN GARDEN UNITED,86
106102,NUNEATON TOWN,Torquay United,Nuneaton Town,1,STONY STRATFORD TOWN,86
37456,BARROW AFC,Barrow AFC,Darlington,1,BARROW,90
37475,HARTLEPOOL UNITED,Hartlepool United,Scarborough,1,HARTLEPOOL,90
37481,ROCHDALE AFC,Rochdale AFC,Barnsley,1,ROCHDALE,90
37457,BASINGSTOKE TOWN,Basingstoke Town,Northampton Town,1,BASINGSTOKE,95
106104,FC HALIFAX TOWN,Wigan Athletic,FC Halifax Town,1,HALIFAX TOWN,95
37460,BRIDGWATER TOWN (1),Bridgwater Town (1),Reading,1,BRIDGWATER TOWN,95
106094,NEWPORT COUNTY AFC,Notts County,Newport County AFC,1,NEWPORT COUNTY,95
106105,ROMFORD (2),Witney United,Romford (2),1,ROMFORD,95
106100,WORKINGTON AFC,Southport,Workington AFC,1,WORKINGTON,95
37483,SOUTH SHIELDS (2),South Shields (2),Scunthorpe United,1,SOUTH SHIELDS,95
37455,AFC BOURNEMOUTH,AFC Bournemouth,Margate,1,BOURNEMOUTH,95
106084,STOCKPORT COUNTY,Doncaster Rovers,Stockport County,1,STOCKPORT COUNTY,100
106083,BLYTH SPARTANS,Crewe Alexandra,Blyth Spartans,1,BLYTH SPARTANS,100
106082,EXETER CITY,Crawley Town,Exeter City,1,EXETER CITY,100
37445,ALDERSHOT,Aldershot,Alvechurch,1,ALDERSHOT,100
106080,OLDHAM ATHLETIC,Chesterfield,Oldham Athletic,1,OLDHAM ATHLETIC,100
106079,MANSFIELD TOWN,Chester,Mansfield Town,1,MANSFIELD TOWN,100
106078,WEYMOUTH,Cambridge United,Weymouth,1,WEYMOUTH,100
106077,TELFORD UNITED,Bristol Rovers,Telford United,1,TELFORD UNITED,100
106076,HILLINGDON BOROUGH,Brighton & Hove Albion,Hillingdon Borough,1,HILLINGDON BOROUGH,100
106075,READING,Bridgwater Town (1),Reading,1,READING,100
106081,SHREWSBURY TOWN,Colchester United,Shrewsbury Town,1,SHREWSBURY TOWN,100
106085,BOSTON UNITED,Ellesmere Port Town,Boston United,1,BOSTON UNITED,100
106090,SCARBOROUGH,Hartlepool United,Scarborough,1,SCARBOROUGH,100
106087,ROTHERHAM UNITED,Frickley Colliery,Rotherham United,1,ROTHERHAM UNITED,100
106088,PLYMOUTH ARGYLE,Gillingham,Plymouth Argyle,1,PLYMOUTH ARGYLE,100
...,...,...,...,...,...,...
37467,CRAWLEY TOWN,Crawley Town,Exeter City,1,CRAWLEY TOWN,100
37466,COLCHESTER UNITED,Colchester United,Shrewsbury Town,1,COLCHESTER UNITED,100
37473,GILLINGHAM,Gillingham,Plymouth Argyle,1,GILLINGHAM,100
37465,CHESTERFIELD,Chesterfield,Oldham Athletic,1,CHESTERFIELD,100
37463,CAMBRIDGE UNITED,Cambridge United,Weymouth,1,CAMBRIDGE UNITED,100
37462,BRISTOL ROVERS,Bristol Rovers,Telford United,1,BRISTOL ROVERS,100
37461,BRIGHTON & HOVE ALBION,Brighton & Hove Albion,Hillingdon Borough,1,BRIGHTON & HOVE ALBION,100
37459,BOLTON WANDERERS,Bolton Wanderers,Bangor City,1,BOLTON WANDERERS,100
37458,BLACKBURN ROVERS,Blackburn Rovers,Port Vale,1,BLACKBURN ROVERS,100
37449,ROSSENDALE UNITED,Rossendale United,Altrincham,1,ROSSENDALE UNITED,100
37464,CHESTER,Chester,Mansfield Town,1,CHESTER,100
106072,NORTHAMPTON TOWN,Basingstoke Town,Northampton Town,1,NORTHAMPTON TOWN,100
37474,GUILDFORD CITY,Guildford City,Dover,1,GUILDFORD CITY,100
37477,KING'S LYNN,King's Lynn,Hereford United,1,KING'S LYNN,100
106070,MARGATE,AFC Bournemouth,Margate,1,MARGATE,100
106064,ALTRINCHAM,Rossendale United,Altrincham,1,ALTRINCHAM,100
106106,BRADFORD CITY,Wrexham,Bradford City,1,BRADFORD CITY,100
37491,WREXHAM,Wrexham,Bradford City,1,WREXHAM,100
37489,WIGAN ATHLETIC,Wigan Athletic,FC Halifax Town,1,WIGAN ATHLETIC,100
37488,WALSALL,Walsall,Dagenham,1,WALSALL,100
37476,KETTERING TOWN,Kettering Town,Barnet,1,KETTERING TOWN,100
37487,TORQUAY UNITED,Torquay United,Nuneaton Town,1,TORQUAY UNITED,100
37485,SOUTHPORT,Southport,Workington AFC,1,SOUTHPORT,100
37484,SOUTHEND UNITED,Southend United,Aston Villa,1,SOUTHEND UNITED,100
37482,SKELMERSDALE UNITED,Skelmersdale United,Tranmere Rovers,1,SKELMERSDALE UNITED,100
37480,REDDITCH UNITED,Redditch United,Peterborough United,1,REDDITCH UNITED,100
37479,NOTTS COUNTY,Notts County,Newport County AFC,1,NOTTS COUNTY,100
37478,LINCOLN CITY,Lincoln City,Bury,1,LINCOLN CITY,100
37486,SWANSEA CITY,Swansea City,Brentford,1,SWANSEA CITY,100
106107,GRIMSBY TOWN,York City,Grimsby Town,1,GRIMSBY TOWN,100