In [89]:
import pandas as pd
import numpy as np

import plotly
import plotly.plotly as py
import cufflinks as cf

In [90]:
nl_fac = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\02_merge\nleague_teams_v1.csv')
nl_tab = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\01_league_tables\nonleague_1990-11_v2.csv')

In [91]:
# restricting missing teams to range of scraped tables

nl_fac = nl_fac[nl_fac.year.isin(range(1990,2012))]

In [92]:
nl_fac.describe()

              year  stage
count   703.000000    703
mean   2000.512091      8
std       6.345203      0
min    1990.000000      8
25%    1995.000000      8
50%    2001.000000      8
75%    2006.000000      8
max    2011.000000      8

In [93]:
nl_tab.describe()

               pos         year
count  5054.000000  5054.000000
mean     11.468540  2000.896320
std       6.354594     6.444018
min       1.000000  1990.000000
25%       6.000000  1995.000000
50%      11.000000  2001.000000
75%      17.000000  2007.000000
max      24.000000  2011.000000

#### Merge test 1

In [94]:
nl_merge = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

#### Plotting missing matches, should be 32 matches per year

In [95]:
missing_teams = nl_merge[nl_merge.pos.isnull()].copy()

mt_plot = missing_teams.year.value_counts().sort_index().reindex()

In [96]:
mt_plot.iplot(kind='bar', dimensions = (700,400))

#### Apply fuzzy string matching to try and find near matches

In [97]:
from fuzzywuzzy import process
import fuzzywuzzy
import Levenshtein

In [98]:
def near_match(row):
    return process.extractOne(row['team'], nl_tab[nl_tab.year == row['year']]['team'].values) # only search specific year
     #return tuple containing (nearest match, score)
    
%time missing_teams['match'], missing_teams['score'] = zip(*missing_teams.apply(near_match, axis = 1))

Wall time: 3.8 s

In [99]:
missing_teams[missing_teams.score > 94].sort_values('score')

,team,pos,pts,year,league,round,stage,match,score
594,FARNBOROUGH,NaN,NaN,1990,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
691,FC HALIFAX TOWN,NaN,NaN,2008,NaN,FIRST ROUND PROPER,8,HALIFAX TOWN,95
684,FC HALIFAX TOWN,NaN,NaN,2006,NaN,FIRST ROUND PROPER,8,HALIFAX TOWN,95
678,FC HALIFAX TOWN,NaN,NaN,2005,NaN,FIRST ROUND PROPER,8,HALIFAX TOWN,95
674,FORD UNITED,NaN,NaN,2004,NaN,FIRST ROUND PROPER,8,FORD UNITED F.C.,95
673,FARNBOROUGH,NaN,NaN,2004,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
666,RUNCORN HALTON,NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,RUNCORN F.C. HALTON,95
664,FARNBOROUGH,NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
661,FARNBOROUGH,NaN,NaN,2002,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
655,HAMPTON & RICHMOND BOROUGH,NaN,NaN,2001,NaN,FIRST ROUND PROPER,8,HAMPTON & RICHMOND,95
639,FARNBOROUGH,NaN,NaN,1998,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
632,FARNBOROUGH,NaN,NaN,1997,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
625,FARNBOROUGH,NaN,NaN,1996,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
620,FC HALIFAX TOWN,NaN,NaN,1995,NaN,FIRST ROUND PROPER,8,HALIFAX TOWN,95
617,FC HALIFAX TOWN,NaN,NaN,1994,NaN,FIRST ROUND PROPER,8,HALIFAX TOWN,95
616,FARNBOROUGH,NaN,NaN,1994,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
604,FARNBOROUGH,NaN,NaN,1992,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
598,FARNBOROUGH,NaN,NaN,1991,NaN,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
644,FORD UNITED,NaN,NaN,1999,NaN,FIRST ROUND PROPER,8,FORD UNITED F.C.,95
689,KING'S LYNN_,NaN,NaN,2007,NaN,FIRST ROUND PROPER,8,KING'S LYNN,96
700,FC UNITED OF MANCHESTER,NaN,NaN,2011,NaN,FIRST ROUND PROPER,8,F.C. UNITED OF MANCHESTER,96
692,HARROGATE RAILWAY ATHLETIC_,NaN,NaN,2008,NaN,FIRST ROUND PROPER,8,HARROGATE RAILWAY ATHLETIC,98

These matches are all correct

In [100]:
missing_teams[missing_teams.score.isin(range(88, 95))].sort_values('score')

,team,pos,pts,year,league,round,stage,match,score
614,V.S. RUGBY,NaN,NaN,1993,NaN,FIRST ROUND PROPER,8,VS RUGBY,89
619,V.S. RUGBY,NaN,NaN,1994,NaN,FIRST ROUND PROPER,8,VS RUGBY,89
595,HAYES & YEADING UNITED,NaN,NaN,1990,NaN,FIRST ROUND PROPER,8,HAYES,90
662,HAYES & YEADING UNITED,NaN,NaN,2002,NaN,FIRST ROUND PROPER,8,HAYES,90
663,CHESTER,NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90
668,STEVENAGE,NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
670,VAUXHALL MOTORS(W CHESH),NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,VAUXHALL MOTORS,90
671,CHESTER,NaN,NaN,2004,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90
676,STEVENAGE,NaN,NaN,2004,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
679,HAYES & YEADING UNITED,NaN,NaN,2005,NaN,FIRST ROUND PROPER,8,HAYES,90
681,STEVENAGE,NaN,NaN,2005,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
682,VAUXHALL MOTORS(W CHESH),NaN,NaN,2005,NaN,FIRST ROUND PROPER,8,VAUXHALL MOTORS,90
688,STEVENAGE,NaN,NaN,2006,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
690,STEVENAGE,NaN,NaN,2007,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
693,STEVENAGE,NaN,NaN,2008,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
694,AFC HORNCHURCH,NaN,NaN,2009,NaN,FIRST ROUND PROPER,8,A.F.C. HORNCHURCH,90
697,STEVENAGE,NaN,NaN,2009,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
656,HAYES & YEADING UNITED,NaN,NaN,2001,NaN,FIRST ROUND PROPER,8,HAYES,90
653,CHESTER,NaN,NaN,2001,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90
650,HAYES & YEADING UNITED,NaN,NaN,2000,NaN,FIRST ROUND PROPER,8,HAYES,90
648,STEVENAGE,NaN,NaN,1999,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
599,HAYES & YEADING UNITED,NaN,NaN,1991,NaN,FIRST ROUND PROPER,8,HAYES,90
600,LITTLEHAMPTON TOWN,NaN,NaN,1991,NaN,FIRST ROUND PROPER,8,HAMPTON,90
606,HAYES & YEADING UNITED,NaN,NaN,1992,NaN,FIRST ROUND PROPER,8,HAYES,90
610,HAYES & YEADING UNITED,NaN,NaN,1993,NaN,FIRST ROUND PROPER,8,HAYES,90
621,GRESLEY,NaN,NaN,1995,NaN,FIRST ROUND PROPER,8,GRESLEY ROVERS,90
622,NEWPORT (IOW),NaN,NaN,1995,NaN,FIRST ROUND PROPER,8,NEWPORT,90
627,NEWPORT (IOW),NaN,NaN,1996,NaN,FIRST ROUND PROPER,8,NEWPORT,90
626,HAYES & YEADING UNITED,NaN,NaN,1996,NaN,FIRST ROUND PROPER,8,HAYES,90
633,HAYES & YEADING UNITED,NaN,NaN,1997,NaN,FIRST ROUND PROPER,8,HAYES,90
636,STEVENAGE,NaN,NaN,1997,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
640,HAYES & YEADING UNITED,NaN,NaN,1998,NaN,FIRST ROUND PROPER,8,HAYES,90
641,STEVENAGE,NaN,NaN,1998,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
645,GRESLEY,NaN,NaN,1999,NaN,FIRST ROUND PROPER,8,GRESLEY ROVERS,90
646,HAYES & YEADING UNITED,NaN,NaN,1999,NaN,FIRST ROUND PROPER,8,HAYES,90
629,STEVENAGE,NaN,NaN,1996,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
699,STEVENAGE,NaN,NaN,2010,NaN,FIRST ROUND PROPER,8,STEVENAGE BOROUGH,90
698,AFC TELFORD UNITED,NaN,NaN,2010,NaN,FIRST ROUND PROPER,8,A.F.C. TELFORD UNITED,92
695,AFC TELFORD UNITED,NaN,NaN,2009,NaN,FIRST ROUND PROPER,8,A.F.C. TELFORD UNITED,92

In [101]:
# making list of teams with incorrect fuzzy match to avoid ,

no_match = ['DORCHESTER TOWN', 'HAMPTON']

In [102]:
miss_88 = missing_teams[(missing_teams.score > 88) & ~(missing_teams.match.isin(no_match))]

Setting year and team as multi-index so we can use update function to replace miss_88 rows in nl_tab

In [103]:
nl_tab.set_index(['year', 'team'], inplace=True, drop=False)
miss_88.set_index(['year', 'match'], inplace=True, drop=False)

In [104]:
miss_88 = miss_88[['team', 'pos', 'pts', 'year', 'league']]

In [105]:
miss_88.head()

                                         team  pos  pts  year league
year match
1990 FARNBOROUGH TOWN             FARNBOROUGH  NaN  NaN  1990    NaN
     HAYES             HAYES & YEADING UNITED  NaN  NaN  1990    NaN
1991 FARNBOROUGH TOWN             FARNBOROUGH  NaN  NaN  1991    NaN
     HAYES             HAYES & YEADING UNITED  NaN  NaN  1991    NaN
1992 FARNBOROUGH TOWN             FARNBOROUGH  NaN  NaN  1992    NaN

In [106]:
nl_tab.head()

                                 team  pos  pts  year  \
year team
1990 COLNE DYNAMOES    COLNE DYNAMOES    1  102  1990
     GATESHEAD              GATESHEAD    2   76  1990
     WITTON ALBION      WITTON ALBION    3   73  1990
     HYDE UNITED          HYDE UNITED    4   71  1990
     SOUTH LIVERPOOL  SOUTH LIVERPOOL    5   69  1990

                                                        league
year team
1990 COLNE DYNAMOES   NORTHERN PREMIER LEAGUE PREMIER DIVISION
     GATESHEAD        NORTHERN PREMIER LEAGUE PREMIER DIVISION
     WITTON ALBION    NORTHERN PREMIER LEAGUE PREMIER DIVISION
     HYDE UNITED      NORTHERN PREMIER LEAGUE PREMIER DIVISION
     SOUTH LIVERPOOL  NORTHERN PREMIER LEAGUE PREMIER DIVISION

Updating dataframe

In [107]:
nl_tab.update(miss_88)

#### Merge test 2

In [108]:
nl_merge2 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

missing_teams2 = nl_merge2[nl_merge2.pos.isnull()].copy()

mt_plot2 = missing_teams2.year.value_counts().sort_index().reindex()

In [109]:
#making dataframe which join missing teams from 1st and 2nd merge

mt_plot_join = pd.DataFrame({'mt_plot':mt_plot, 'mt_plot2':mt_plot2})

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

In [110]:
%time missing_teams2['match'], missing_teams2['score'] = zip(*missing_teams2.apply(near_match, axis = 1))

missing_teams2[missing_teams2.score > 88].sort_values('score')

Wall time: 1.89 s

,team,pos,pts,year,league,round,stage,match,score
653,LITTLEHAMPTON TOWN,NaN,NaN,1991,NaN,FIRST ROUND PROPER,8,HAMPTON,90
681,CHESTER,NaN,NaN,2001,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90
687,CHESTER,NaN,NaN,2003,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90
691,CHESTER,NaN,NaN,2004,NaN,FIRST ROUND PROPER,8,DORCHESTER TOWN,90

#### Exporting remaining missing teams for manual completion

In [111]:
missing_teams2.to_csv('missing_teams_1990-11_v1.csv', index = False)

In [112]:
nl_tab_aux = pd.read_csv('missing_teams_1990-11_v2.csv')[['year', 'pos', 'league', 'team']]

nl_tab_aux.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 4 columns):
year      53 non-null int64
pos       52 non-null float64
league    52 non-null object
team      53 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 2.1+ KB

In [113]:
nl_tab = pd.concat([nl_tab, nl_tab_aux])

#### Merge test 3

In [115]:
nl_merge3 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

missing_teams3 = nl_merge3[nl_merge3.pos.isnull()].copy()

mt_plot3 = missing_teams3.year.value_counts().sort_index().reindex()

In [116]:
mt_plot_join['mt_plot3'] = mt_plot3

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

MAIDSTONE TOWN had no league in 1993 and their opponent in FA CUP had a walkover

Checking merged teams for duplicate matches

In [121]:
nl_merge3.groupby(['year', 'team']).filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [league, pos, pts, team, year, round, stage]
Index: []

In [122]:
nl_merge3.drop('pts', axis=1, inplace=True)

In [123]:
nl_merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 703 entries, 0 to 702
Data columns (total 6 columns):
league    702 non-null object
pos       702 non-null float64
team      703 non-null object
year      703 non-null float64
round     703 non-null object
stage     703 non-null float64
dtypes: float64(3), object(3)
memory usage: 38.4+ KB

#### Final save of non-league 1952-89 merge

In [124]:
nl_merge3.to_csv(r'C:\Users\David\Python\scrapy\facup\02_merge\fa_nl_merge_1990-11_v1.csv', index=False)