In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
matplotlib.style.use('ggplot')

In [2]:
fac = pd.read_csv('facup_v3.csv')

In [3]:
fac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137230 entries, 0 to 137229
Data columns (total 17 columns):
Unnamed: 0    137230 non-null int64
away_score    137230 non-null int64
away_team     137230 non-null object
date          137230 non-null object
home_score    137230 non-null int64
home_team     137230 non-null object
match_id      137230 non-null float64
qualifier     137230 non-null bool
replay        137230 non-null bool
round         137230 non-null object
round_id      137230 non-null float64
stage         137230 non-null float64
year          137230 non-null int64
year_id       137230 non-null int64
team          137230 non-null object
home          137230 non-null bool
stage_r       137230 non-null float64
dtypes: bool(3), float64(4), int64(5), object(5)
memory usage: 16.1+ MB

In [4]:
fac.head()

,Unnamed: 0,away_score,away_team,date,home_score,home_team,match_id,qualifier,replay,round,round_id,stage,year,year_id,team,home,stage_r
0,0,0,Hampstead Heathens,27.01.72,3,Royal Engineers,16062,False,False,Third Round Proper,10683,3,1872,71234,Royal Engineers,True,12
1,1,0,Crystal Palace (1),20.01.72,0,Wanderers,16063,False,False,Third Round Proper,10683,3,1872,71234,Wanderers,True,12
2,2,0,Bye,01.01.01,0,Queen's Park (Glasgow),16061,False,False,Third Round Proper,10683,3,1872,71234,Queen's Park (Glasgow),True,12
3,3,0,Crystal Palace (1),09.03.72,3,Royal Engineers,16066,False,True,Semi-Final,10682,4,1872,71234,Royal Engineers,True,13
4,4,0,Queen's Park (Glasgow),05.03.72,0,Wanderers,16065,False,False,Semi-Final,10682,4,1872,71234,Wanderers,True,13

In [5]:
fac4 = fac[fac.home == False]

In [6]:
fac4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68615 entries, 68615 to 137229
Data columns (total 17 columns):
Unnamed: 0    68615 non-null int64
away_score    68615 non-null int64
away_team     68615 non-null object
date          68615 non-null object
home_score    68615 non-null int64
home_team     68615 non-null object
match_id      68615 non-null float64
qualifier     68615 non-null bool
replay        68615 non-null bool
round         68615 non-null object
round_id      68615 non-null float64
stage         68615 non-null float64
year          68615 non-null int64
year_id       68615 non-null int64
team          68615 non-null object
home          68615 non-null bool
stage_r       68615 non-null float64
dtypes: bool(3), float64(4), int64(5), object(5)
memory usage: 8.0+ MB

In [7]:
fac4 = fac4[['home_team','away_team','home_score', 'away_score','round','year','replay','qualifier', 'stage_r','match_id']]

In [8]:
fac4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68615 entries, 68615 to 137229
Data columns (total 10 columns):
home_team     68615 non-null object
away_team     68615 non-null object
home_score    68615 non-null int64
away_score    68615 non-null int64
round         68615 non-null object
year          68615 non-null int64
replay        68615 non-null bool
qualifier     68615 non-null bool
stage_r       68615 non-null float64
match_id      68615 non-null float64
dtypes: bool(2), float64(2), int64(3), object(3)
memory usage: 4.8+ MB

In [9]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,stage_r,match_id
68615,Royal Engineers,Hampstead Heathens,3,0,Third Round Proper,1872,False,False,12,16062
68616,Wanderers,Crystal Palace (1),0,0,Third Round Proper,1872,False,False,12,16063
68617,Queen's Park (Glasgow),Bye,0,0,Third Round Proper,1872,False,False,12,16061
68618,Royal Engineers,Crystal Palace (1),3,0,Semi-Final,1872,True,False,13,16066
68619,Wanderers,Queen's Park (Glasgow),0,0,Semi-Final,1872,False,False,13,16065

In [10]:
fac4['stage'] = 15-fac4.stage_r

In [11]:
fac4.drop('stage_r',axis=1, inplace=True)

In [12]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage
68615,Royal Engineers,Hampstead Heathens,3,0,Third Round Proper,1872,False,False,16062,3
68616,Wanderers,Crystal Palace (1),0,0,Third Round Proper,1872,False,False,16063,3
68617,Queen's Park (Glasgow),Bye,0,0,Third Round Proper,1872,False,False,16061,3
68618,Royal Engineers,Crystal Palace (1),3,0,Semi-Final,1872,True,False,16066,2
68619,Wanderers,Queen's Park (Glasgow),0,0,Semi-Final,1872,False,False,16065,2

In [13]:
fac4.home_team = fac4['home_team'].str.upper()
fac4.away_team = fac4['away_team'].str.upper()

In [14]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3
68616,WANDERERS,CRYSTAL PALACE (1),0,0,Third Round Proper,1872,False,False,16063,3
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3
68618,ROYAL ENGINEERS,CRYSTAL PALACE (1),3,0,Semi-Final,1872,True,False,16066,2
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2

In [15]:
fac4.home_team[fac4.home_team.str.contains(' \(\d\)')].unique()  #looking for (#) with one or more values between brackets

array(['CRYSTAL PALACE (1)', 'HENDON (1)', 'BIRMINGHAM (1)',
       'BRENTWOOD (1)', 'ROMFORD (1)', 'BOOTLE (1)', 'HORNCHURCH (1)',
       'BELPER TOWN (1)', 'LOUGHBOROUGH (1)', 'WHITBY (1)', 'BOSTON (1)',
       'KIDDERMINSTER (1)', 'MANSFIELD TOWN (1)', 'CLIFTON (1)',
       'WOLVERTON (1)', 'BARROW (1)', 'SOUTHWICK (1)', 'WORKINGTON (1)',
       'COWES (1)', 'MAIDSTONE (1)', 'ILKESTON TOWN (1)',
       'NEWCASTLE EAST END (2)', 'PETERBOROUGH (1)', 'EASTWOOD TOWN (1)',
       'HALIFAX (1)', 'HINCKLEY TOWN (1)', 'ROCHDALE (1)',
       'CARLISLE CITY (1)', 'SOUTH SHIELDS (1)', 'MAIDSTONE UNITED (1)',
       'BRADFORD (1)', 'TUNBRIDGE WELLS (1)', 'ST LEONARDS (1)',
       'FRIZINGTON U (1)', 'COWES (2)', 'CROYDON (1)', 'SALISBURY (1)',
       'ARNOLD (1)', 'LEATHERHEAD (1)', 'WEDNESBURY OLD ATH. (2)',
       'LEIGHTON TOWN (1)', 'BEDFORD TOWN (1)', 'CAMBRIDGE UTD. (1)',
       'HINCKLEY UNITED (1)', 'BARNET (2)', 'LEEDS UNITED (1)',
       'GATESHEAD (1)', 'LANGLEY PARK (1)', 'EGREMONT (1)',
       'BOSTON TOWN (1)', 'ESH WINNING (1)', 'ORMSKIRK (1)',
       'BRIDLINGTON TOWN (1)', 'BRIDGEND TOWN (1)', 'RUSHALL OLYMPIC (1)',
       'RAMSGATE (1)', 'GATESHEAD TOWN (2)', 'ARNOLD TOWN (1)',
       'HANWELL TOWN (1)', 'BOOTLE (2)', 'SALISBURY CITY (1)',
       'TAUNTON TOWN (1)', 'ROMFORD (2)', 'BLETCHLEY TOWN (1)',
       'NEWCASTLE WEST END (2)', 'SOUTH SHIELDS (2)', 'ABERDARE (2)',
       'BRIDGWATER TOWN (1)', 'EDMONTON (2)', 'ACCRINGTON STANLEY (2)',
       'BURNHAM (1)', 'GATESHEAD (2)', 'DORKING (2)', 'STOCKTON (2)',
       'NEWTOWN (2)', 'LEYTON (2)', 'STEWARTS & LLOYDS (2)',
       'SOUTH SHIELDS (3)', 'TUFNELL PARK (2)', 'NEWPORT COUNTY (2)',
       'BRIDLINGTON TOWN (2)', 'MAIDSTONE UNITED (2)'], dtype=object)

In [16]:
fac4.home_team = fac4.home_team.str.replace(' \(\d\)','')
fac4.away_team = fac4.away_team.str.replace(' \(\d\)','')

In [17]:
fac4.home_team[fac4.home_team.str.contains(' \(\d\)')].unique()  #looking for (#) with one or more values between brackets

array([], dtype=object)

In [18]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2

In [19]:
fac4['winner'] = np.where(fac4.home_score > fac4.away_score, fac4.home_team, fac4.away_team)

In [20]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3,ROYAL ENGINEERS
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3,CRYSTAL PALACE
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3,BYE
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2,QUEEN'S PARK (GLASGOW)

In [21]:
fac4['winner'] = np.where(fac4.home_score == fac4.away_score, np.nan, fac4.winner) #testing for draws

In [22]:
fac4.head(20)

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3,ROYAL ENGINEERS
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3,NaN
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3,NaN
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2,NaN
68620,ROYAL ENGINEERS,CRYSTAL PALACE,0,0,Semi-Final,1872,False,False,16064,2,NaN
68621,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,True,False,16067,2,NaN
68622,OXFORD UNIVERSITY,MAIDENHEAD,4,0,Fourth Round Proper,1873,False,False,16089,3,OXFORD UNIVERSITY
68623,QUEEN'S PARK (GLASGOW),BYE,0,0,Fourth Round Proper,1873,False,False,16090,3,NaN
68624,WANDERERS,BYE,0,0,Fourth Round Proper,1873,False,False,16091,3,NaN
68625,MAIDENHEAD,WINDSOR HOME PARK,1,0,Third Round Proper,1873,False,False,16085,4,MAIDENHEAD
68626,OXFORD UNIVERSITY,ROYAL ENGINEERS,1,0,Third Round Proper,1873,False,False,16086,4,OXFORD UNIVERSITY
68627,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1873,False,False,16087,4,NaN
68628,WANDERERS,BYE,0,0,Third Round Proper,1873,False,False,16088,4,NaN
68629,WINDSOR HOME PARK,SOUTH NORWOOD,3,0,Second Round Proper,1873,True,False,16084,5,WINDSOR HOME PARK
68630,1ST SURREY RIFLES,MAIDENHEAD,0,3,Second Round Proper,1873,False,False,16078,5,MAIDENHEAD
68631,CLAPHAM ROVERS,OXFORD UNIVERSITY,0,3,Second Round Proper,1873,False,False,16079,5,OXFORD UNIVERSITY
68632,SOUTH NORWOOD,WINDSOR HOME PARK,1,0,Second Round Proper,1873,False,False,16082,5,SOUTH NORWOOD
68633,QUEEN'S PARK (GLASGOW),BYE,0,0,Second Round Proper,1873,False,False,16080,5,NaN
68634,ROYAL ENGINEERS,BYE,0,0,Second Round Proper,1873,False,False,16081,5,NaN

In [26]:
fac4['left'] = fac4[['home_team','away_team']].max(axis=1)
fac4['right'] = fac4[['home_team','away_team']].min(axis=1)

In [27]:
fac4.head(15)

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner,left,right
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3,ROYAL ENGINEERS,ROYAL ENGINEERS,HAMPSTEAD HEATHENS
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3,NaN,WANDERERS,CRYSTAL PALACE
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3,NaN,QUEEN'S PARK (GLASGOW),BYE
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS,ROYAL ENGINEERS,CRYSTAL PALACE
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2,NaN,WANDERERS,QUEEN'S PARK (GLASGOW)
68620,ROYAL ENGINEERS,CRYSTAL PALACE,0,0,Semi-Final,1872,False,False,16064,2,NaN,ROYAL ENGINEERS,CRYSTAL PALACE
68621,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,True,False,16067,2,NaN,WANDERERS,QUEEN'S PARK (GLASGOW)
68622,OXFORD UNIVERSITY,MAIDENHEAD,4,0,Fourth Round Proper,1873,False,False,16089,3,OXFORD UNIVERSITY,OXFORD UNIVERSITY,MAIDENHEAD
68623,QUEEN'S PARK (GLASGOW),BYE,0,0,Fourth Round Proper,1873,False,False,16090,3,NaN,QUEEN'S PARK (GLASGOW),BYE
68624,WANDERERS,BYE,0,0,Fourth Round Proper,1873,False,False,16091,3,NaN,WANDERERS,BYE
68625,MAIDENHEAD,WINDSOR HOME PARK,1,0,Third Round Proper,1873,False,False,16085,4,MAIDENHEAD,WINDSOR HOME PARK,MAIDENHEAD
68626,OXFORD UNIVERSITY,ROYAL ENGINEERS,1,0,Third Round Proper,1873,False,False,16086,4,OXFORD UNIVERSITY,ROYAL ENGINEERS,OXFORD UNIVERSITY
68627,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1873,False,False,16087,4,NaN,QUEEN'S PARK (GLASGOW),BYE
68628,WANDERERS,BYE,0,0,Third Round Proper,1873,False,False,16088,4,NaN,WANDERERS,BYE
68629,WINDSOR HOME PARK,SOUTH NORWOOD,3,0,Second Round Proper,1873,True,False,16084,5,WINDSOR HOME PARK,WINDSOR HOME PARK,SOUTH NORWOOD

In [28]:
fac4.groupby(['year','round','left','right'])

In [42]:
fix = fac4.groupby(['year','round','left','right'])

In [43]:
fix.size()

year  round                   left                      right
1872  Final                   WANDERERS                 ROYAL ENGINEERS           1
      First Round Proper      CIVIL SERVICE             BARNES                    1
                              HAMPSTEAD HEATHENS        BYE                       1
                              HITCHIN                   CRYSTAL PALACE            1
                              MARLOW                    MAIDENHEAD                1
                              QUEEN'S PARK (GLASGOW)    DONNINGTON SCHOOL         1
                              ROYAL ENGINEERS           REIGATE PRIORY            1
                              UPTON PARK                CLAPHAM ROVERS            1
                              WANDERERS                 HARROW CHEQUERS           1
      Second Round Proper     HAMPSTEAD HEATHENS        BARNES                    2
                              MAIDENHEAD                CRYSTAL PALACE            1
                              QUEEN'S PARK (GLASGOW)    DONNINGTON SCHOOL         1
                              ROYAL ENGINEERS           HITCHIN                   1
                              WANDERERS                 CLAPHAM ROVERS            1
      Semi-Final              ROYAL ENGINEERS           CRYSTAL PALACE            2
                              WANDERERS                 QUEEN'S PARK (GLASGOW)    2
      Third Round Proper      QUEEN'S PARK (GLASGOW)    BYE                       1
                              ROYAL ENGINEERS           HAMPSTEAD HEATHENS        1
                              WANDERERS                 CRYSTAL PALACE            1
1873  Final                   WANDERERS                 OXFORD UNIVERSITY         1
      First Round Proper      HITCHIN                   CLAPHAM ROVERS            1
                              MARLOW                    MAIDENHEAD                1
                              OXFORD UNIVERSITY         CRYSTAL PALACE            1
                              QUEEN'S PARK (GLASGOW)    BYE                       1
                              ROYAL ENGINEERS           CIVIL SERVICE             1
                              SOUTH NORWOOD             BARNES                    1
                              UPTON PARK                1ST SURREY RIFLES         1
                              WANDERERS                 BYE                       1
                              WINDSOR HOME PARK         REIGATE PRIORY            1
      Fourth Round Proper     OXFORD UNIVERSITY         MAIDENHEAD                1
                                                                                 ..
2015  Third Round Qualifying  MARINE                    GRAYS ATHLETIC            1
                              MICKLEOVER SPORTS         GOSPORT BOROUGH           1
                              NEEDHAM MARKET            BLYTH SPARTANS AFC        1
                              REDHILL                   GREENWICH BOROUGH         1
                              RUNCORN TOWN              GRANTHAM TOWN             1
                              SHILDON                   NORTON UNITED             1
                              SHORTWOOD UNITED          BATH CITY                 1
                                                        BIGGLESWADE TOWN          1
                              ST ALBANS CITY            ASHTON UNITED             1
                              STAINES TOWN              BRACKLEY TOWN             1
                                                        GLOUCESTER CITY           1
                              STOCKPORT COUNTY          GLOUCESTER CITY           1
                              STOURBRIDGE               SHILDON                   1
                                                        SPENNYMOOR TOWN           1
                              SUTTON UNITED             ILKESTON_                 1
                              TAMWORTH                  BURGESS HILL TOWN         1
                              TOOTING & MITCHAM UNITED  EBBSFLEET UNITED          1
                              WALTHAM ABBEY             KING'S LYNN TOWN          1
                              WARRINGTON TOWN           COLWYN BAY                1
                                                        CONCORD RANGERS           1
                              WESTON SUPER MARE         AFC FYLDE                 1
                              WEYMOUTH                  CHIPPENHAM TOWN           1
                              WHITEHAWK                 CHELMSFORD CITY           1
                                                        LOWESTOFT TOWN            1
                              WILLAND ROVERS            CHELMSFORD CITY           1
                              WINCHESTER CITY           DORCHESTER TOWN           1
                              WINGATE & FINCHLEY        AVELEY                    1
                              WITHAM TOWN               NORTH FERRIBY UNITED      1
                              WORCESTER CITY            LEAMINGTON                1
                                                        LEEK TOWN                 1
dtype: int64

In [46]:
fix.get_group((1872,'Semi-Final','ROYAL ENGINEERS','CRYSTAL PALACE'))

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner,left,right
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS,ROYAL ENGINEERS,CRYSTAL PALACE
68620,ROYAL ENGINEERS,CRYSTAL PALACE,0,0,Semi-Final,1872,False,False,16064,2,NaN,ROYAL ENGINEERS,CRYSTAL PALACE

In [51]:
fac4['tup_home'] = zip(fac4.home_team, fac4.home_score)
fac4['tup_away'] = zip(fac4.away_team, fac4.away_score)

In [57]:
fac4['left'] = fac4[['tup_home','tup_away']].max(axis=1)
fac4['right'] = fac4[['tup_home','tup_away']].min(axis=1)

In [58]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner,left,right,tup,tup_home,tup_away
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3,ROYAL ENGINEERS,"(ROYAL ENGINEERS, 3)","(HAMPSTEAD HEATHENS, 0)","(ROYAL ENGINEERS, 3)","(ROYAL ENGINEERS, 3)","(HAMPSTEAD HEATHENS, 0)"
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3,NaN,"(WANDERERS, 0)","(CRYSTAL PALACE, 0)","(WANDERERS, 0)","(WANDERERS, 0)","(CRYSTAL PALACE, 0)"
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3,NaN,"(QUEEN'S PARK (GLASGOW), 0)","(BYE, 0)","(QUEEN'S PARK (GLASGOW), 0)","(QUEEN'S PARK (GLASGOW), 0)","(BYE, 0)"
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS,"(ROYAL ENGINEERS, 3)","(CRYSTAL PALACE, 0)","(ROYAL ENGINEERS, 3)","(ROYAL ENGINEERS, 3)","(CRYSTAL PALACE, 0)"
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2,NaN,"(WANDERERS, 0)","(QUEEN'S PARK (GLASGOW), 0)","(WANDERERS, 0)","(WANDERERS, 0)","(QUEEN'S PARK (GLASGOW), 0)"

In [60]:
fac4.drop('tup', axis = 1, inplace=True)

In [61]:
fac4.head()

,home_team,away_team,home_score,away_score,round,year,replay,qualifier,match_id,stage,winner,left,right,tup_home,tup_away
68615,ROYAL ENGINEERS,HAMPSTEAD HEATHENS,3,0,Third Round Proper,1872,False,False,16062,3,ROYAL ENGINEERS,"(ROYAL ENGINEERS, 3)","(HAMPSTEAD HEATHENS, 0)","(ROYAL ENGINEERS, 3)","(HAMPSTEAD HEATHENS, 0)"
68616,WANDERERS,CRYSTAL PALACE,0,0,Third Round Proper,1872,False,False,16063,3,NaN,"(WANDERERS, 0)","(CRYSTAL PALACE, 0)","(WANDERERS, 0)","(CRYSTAL PALACE, 0)"
68617,QUEEN'S PARK (GLASGOW),BYE,0,0,Third Round Proper,1872,False,False,16061,3,NaN,"(QUEEN'S PARK (GLASGOW), 0)","(BYE, 0)","(QUEEN'S PARK (GLASGOW), 0)","(BYE, 0)"
68618,ROYAL ENGINEERS,CRYSTAL PALACE,3,0,Semi-Final,1872,True,False,16066,2,ROYAL ENGINEERS,"(ROYAL ENGINEERS, 3)","(CRYSTAL PALACE, 0)","(ROYAL ENGINEERS, 3)","(CRYSTAL PALACE, 0)"
68619,WANDERERS,QUEEN'S PARK (GLASGOW),0,0,Semi-Final,1872,False,False,16065,2,NaN,"(WANDERERS, 0)","(QUEEN'S PARK (GLASGOW), 0)","(WANDERERS, 0)","(QUEEN'S PARK (GLASGOW), 0)"

In [62]:
fac4.home_score.sum()

142561L

In [63]:
fac4.away_score.sum()

100722L